<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>URL Shortener</h1>
          <form action="/urls" method="post">
            <div class="form-group">
              <label for="url">Add URL: </label>
              <input type="text" name="url" id="url" class="form-control">
            </div>
            <button type="submit" name="btn btn-lg">Submit</button>
          </form>
          <br>
        </div>
        <div class="col-md-8">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>No</th>
                <th>URL LINK</th>
                <th>SHORTENER LINK</th>
                <th>COUNTER</th>
              </tr>
            </thead>
            <tbody>
              <% let i = 1 ; urls.forEach(url=>{ %>
                <tr>
                  <td class="" cellspacing="2"><%= i++ %></td>
                  <td><a href="<%= url.url %>"> <%= url.url %> </a><br></td>
                  <td><a href="/<%= url.sortener_url %>" onclick="window.open('<%= url.url %>');"> <%= url.shortener_url %></a></td>
                  <td> <%= url.count || 0 %> </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
