<% include ../partial/header %>
  <body>
    <h1>Url Shortened</h1>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <tr>
              <th>Url</th>
              <th>Shortened Url</th>
              <th>Clicked</th>
              <th rowspan="2">Actions</th>
            </tr>
            <tr>
              <% for(let i = 0; i < url_data.length; i++){ %>
              <tr>
                <td><%= url_data[i].url %></td>
                <td><a href="<%= url_data[i].shortened %>" target="_blank"><%= base_url %><%= url_data[i].shortened %></a></td>
                <td><%= url_data[i].clicked %></td>
                <td><a href="/delete/<%= url_data[i].url %>" class="btn btn-danger">Delete</a> || <a href="/add" class="btn btn-primary">Add</a></td>
              </tr>
              <% } %>
            </tr>
          </table>

        </div>
      </div>
    </div>
<% include ../partial/footer %>
